In [10]:
import numpy as np
import pandas as pd
from scipy import stats

In [12]:
data = [1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.20, 1.33, 1.18, 1.22, 1.29]

In [30]:
#crete the dataframe from the data by using the pandas library
df = pd.DataFrame(data, columns = ['durability'])
df

    durability
0         1.13
1         1.55
2         1.43
3         0.92
4         1.25
5         1.36
6         1.32
7         0.85
8         1.07
9         1.48
10        1.20
11        1.33
12        1.18
13        1.22
14        1.29

In [31]:
df.shape

(15, 1)

In [14]:
# show the all statiscal description of measure of central tendency and measure of variance
df.describe()

               0
count  15.000000
mean    1.238667
std     0.193164
min     0.850000
25%     1.155000
50%     1.250000
75%     1.345000
max     1.550000

In [37]:
#a. Build 99% Confidence Interval Using Sample Standard Deviation

# by using the t-distribution (sigma unknown)
# we used the t-distribution because standard deviation is unknown and the size of the data is small (n=15)
# here degree of freedom : 15-1 =14, loc = mean , scale = std.
# confidence is 99%
df_ci = stats.t.interval(0.99,15,
                        loc = df['durability'].mean(),
                        scale = df['durability'].std())
print("I am 99% confident that mean durability (millions of characters) will be lies under this interval in t-test:", np.round(df_ci,2))

I am 99% confident that mean durability (millions of characters) will be lies under this interval in t-test: [0.67 1.81]

In [38]:
# b. Build 99% Confidence Interval Using Known Population Standard Deviation

# by using the z-distribution (sigma known)
# here stats.norm.interval() will give you directly conf.interval for 99% confidence no other calculation you need.
# here std_error = standard deviation in root of total number(std/sqrt(n))
std_error = (0.2/np.sqrt(15))
mean = df['durability'].mean()
df_ci = stats.norm.interval(0.99, mean,std_error)
print("I am 99% confident that mean durability  (millions of characters) will be lies under this interval in z-test:", 
      np.round(df_ci,2))

I am 99% confident that mean durability  (millions of characters) will be lies under this interval in z-test: [1.11 1.37]